<div id="nav">
<nav>
  <ul>
<%current_user%>
    <% if logged_in? %>
    <li><a href='/logout'>Log out</a></li>
    <li><a href='/restaurants/new'>Post A Restaurant</a></li>
    <li ><a href='/restaurants'>Restaurants</a></li>
    <li><a href='/users/show'>Hello, <%= current_user.username %></a></li>
    <% else %>
    <li><a href='/sessions/new'>Log in</a></li>
    <li><a href='/users/new'>Register</a></li>
    <li ><a href='/restaurants'>Homepage</a></li>
    <% end %>
  </ul>
</nav>
</div>

<% find_user %>
<body>
<h1 style="text-decoration: underline;">Adam's Eat & Review</h1>
<div id="new-restaurant">
  <% if logged_in? %>
  <a href="/restaurants/new" class="button">Post New Restaurant!</a>
  <%end %>
</div>
  <% @restaurants.each do |restaurant| %>
  <div id="squares">
    <br><br>
    <center><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></center></a>
    <center><h5><%= restaurant.city %>, <%= restaurant.state %> </center>
        <% if logged_in? %>
        <% current_user %>
          <% if restaurant.user_id == current_user.id %>
          <center><a href="/restaurants/<%= restaurant.id%>/edit">Edit</a> | <a href="/restaurants/<%= restaurant.id %>/delete">Delete</a></center>
        <% end %>
      <% end %>
  </div>
<% end %>



</body>
