  <header>
    <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
          <img class="" src="https://user-images.githubusercontent.com/25589910/32250004-3cc3e052-be61-11e7-92ab-3858b07e2de5.png">
            <% current_user %>
              <% if logged_in? %>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href='/restaurants'>
                        <i class="pe-7s-mail"></i>
                        <p>Home</p>
                      </a>
                    </li>
                    <li>
                        <a href='/restaurants/new' data-toggle="post">
                            <i class="postRestaurant"></i>
                            <p>Post A Restaurant</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href='/logout'>
                            <i class="pe-7s-user"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                  </ul>
                <% else %>
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href='/users/new'>
                              <i class="register"></i>
                              <p>Register</p>
                          </a>
                      </li>
                      <li>
                          <a href='/restaurants'>
                              <i class="pe-7s-mail"></i>
                              <p>Homepage</p>
                          </a>
                      </li>
                    </ul>
                  <% end %>
        </div>

    </nav>


    <% if !logged_in? %>
      <div class="login">
        <form action="/sessions" method="post">
            <input type="text" placeholder="email" id="username" name="user[email]">
            <input type="password" placeholder="Password" id="password" name="user[password]">
            <input type="submit" value="Sign In" id="sub">
        </form>
        <div class="shadow"></div>
      </div>
    </header>
    <div id="main-container">
      <div id="main-title">
        <h1>Recently Added Restaurants</h1>
      </div>
      <% find_user %>
        <br>
          <% @restaurants.each do |restaurant| %>
        <div id="squares">
            <center><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></center></a>
            <center><h5><%= restaurant.city %>, <%= restaurant.state %> </h5></center>
              <% if logged_in? %>
              <% current_user %>
                <% if restaurant.user_id == current_user.id %>
                <center><a href="/restaurants/<%= restaurant.id%>/edit">Edit</a> | <a href="/restaurants/<%= restaurant.id %>/delete">Delete</a></center>
              <% end %>
            <% end %>
        </div>
        <% end %>
    <% else %>
  <body>
<div id="main-container">
  <div id="main-title">
    <h1>Recently Added Restaurants</h1>
  </div>
  <% find_user %>
    <br>
      <% @restaurants.each do |restaurant| %>
    <div id="squares">
        <center><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></center></a>
        <center><h5><%= restaurant.city %>, <%= restaurant.state %> </h5></center>
          <% if logged_in? %>
          <% current_user %>
            <% if restaurant.user_id == current_user.id %>
            <center><a href="/restaurants/<%= restaurant.id%>/edit">Edit</a> | <a href="/restaurants/<%= restaurant.id %>/delete">Delete</a></center>
          <% end %>
        <% end %>
    </div>
  <% end %>
  <% find_user %>
    <div class="user-summary">
      <div id="welcome">
        <h5>Hello, <%= current_user.username %>! See all of the reviews and restaurants you've posted below...</h5>
      </div>
        <div id="user-posted-restaurants">
          <h5>Restaurants</h5>
            <% current_user.restaurants.each do |restaurant| %>
            <p><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a> - <%= restaurant.city %>, <%= restaurant.state %></p>
            <% end %>
        </div>
      <div id="user-posted-reviews">

        <h5>Reviews</h5>
          <% current_user.reviews.each do |review| %>
          <p><a href="/restaurants/<%= review.restaurant_id %>"><%= review.content %></a> - Rating: <%= review.numerical_review %></p>
          <% end %>
      </div>
    </div>
  <% end %>
  </body>
</div>
