<%= render "layouts/navbar" %>

<div id="restaurant-outer-containter">
  <div id="restaurant-inner-containter">
    <div id="main-container">
      <% find_user %>
      <br><br>
      <div id="restaurant-show">
        <div id="restaurant-details">
          <div id="restaurant-show-header">
            <h3><%= @restaurant.name %></h3>
            <h4><%= @restaurant.cuisine %></h4>
            <h5><%= @restaurant.reviews.count %> Reviews</h5>
            <h5>Avg Score: <%= @restaurant.average_review %></h5>
          </div>
          <div id="restaurant-show-details">
            <span><%= @restaurant.address%> </span><br>
            <span><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>, <%= @restaurant.country %></span>
          </div>
        </div>
      </div>

      <div id="review-header">
        <h3>Reviews<h3>
        </div>
        <% @restaurant.reviews.each do |review| %>
        <div id="review-show">
          <h5><%= review.content %> (Score: <%= review.numerical_review %>)<h5>
            <h6> - <%= review.user.username %><br></h6>
          </div>
          <% end %>


          <div id="new-review-form">
            <div id="new-review-header">
          <h3>Leave A Review</h3>
          </div>
            <% if logged_in? %>
            <form class="form" action="/restaurants/<%= @restaurant.id %>/reviews" method="post">
              <div class="form-group">
                <label class="label label-default" for="reviewNumber">Rating: </label>
                <select name="review[numerical_review]">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
              <div class="form-group">
                <label class="sr-only" for="reviewSubject">Subject: </label>
                <input type="text" class="form-control" name="review[subject]" id="exampleInputEmail2" placeholder="Subject" style="width:500px" required>
              </div>
              <div class="form-group">
                <label class="sr-only" for="reviewReview">Review: </label>
                <input type="text" class="form-control" name="review[content]" id="exampleInputEmail2" placeholder="Write Your Review Here" style="width:500px; height:150px;" required>
                <input type="hidden" name="review[restaurant_id]" value="<%= @restaurant.id %>">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" style="width: 250px; margin-left: 25%">Post Review!</button>
              </div>
            </form>
            <% else %>
            <h5>You need to be logged in to post a review</h5>
            <h5><a href="/sessions/new">Log in</a></h5>
            <% end %>
          </div>

        </div>
      </div>
    </div>
