<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Numerical review:</strong>
  <%= @review.numerical_review %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
